<div class="modal-header">
  <div class="modal-title">{{action == 1 ? '编辑' : '添加'}}-消息类型</div>
</div>
<nz-spin [nzSpinning]="_MessageClassificationService.http.loading">

  <form nz-form #f="ngForm" se-container=2 labelWidth="110">
    <se required label="消息场景名称">
      <input nz-input required [(ngModel)]="params.name" name="name" maxlength="30" placeholder="请输入消息类型名称,30字符以内" />
    </se>
    <se required label="消息类型">
      <nz-select required [nzPlaceHolder]="'请选择消息类型'" [(ngModel)]="params.type" name="type">
        <nz-option *ngFor="let option of TypeOptions" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
    </se>

    <se required label="所属应用">
      <nz-select required [nzPlaceHolder]="'请选择所属应用'" [(ngModel)]="params.appType" name="appType">
        <nz-option *ngFor="let option of AppTypeoption" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
    </se>

    <se required label="排序">
      <nz-input-number required [(ngModel)]="params.sortId" name="sortId" [nzPlaceHolder]="'请填写排序'" nzMin="0"
        nzPrecision="0"></nz-input-number>
    </se>

    <se label="是否启用">
      <nz-switch [(ngModel)]="params.isEnabled" name="isEnabled">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
  </form>
</nz-spin>
<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid || _MessageClassificationService.http.loading" [nzType]="'primary'">保存</button>
</div>
