<div class="modal-header">
  <div class="modal-title">{{action == 1 ? '编辑' : '添加'}}-资源</div>
</div>
<nz-spin [nzSpinning]="servcie._http.loading">
  <form nz-form #f="ngForm" se-container=2 labelWidth="80" size="compact">
    <se label="上级资源">
      <input nz-input disabled [ngModel]="entity.parentName" name="parentName" maxlength="100" placeholder="" />
    </se>
    <se required label="资源名称">
      <input nz-input required [(ngModel)]="params.name" name="name" maxlength="100" placeholder="请输入资源名称" />
    </se>
    <se required label="所属应用">
      <nz-select required [(ngModel)]="params.appId" name="appId" nzPlaceHolder="请选择所属应用">
        <nz-option *ngFor="let item of app_option" [nzLabel]="item?.label" [nzValue]="item?.value"></nz-option>
      </nz-select>
    </se>
    <se required label="资源标识">
      <input nz-input required [(ngModel)]="params.uri" name="uri" maxlength="100" placeholder="请输入资源标识" />
    </se>
    <se required label="类型">
      <nz-select required [(ngModel)]="params.type" name="type" [nzDisabled]="true" nzPlaceHolder="请选择类型">
        <nz-option [nzLabel]="'菜单'" [nzValue]=0></nz-option>
        <nz-option [nzLabel]="'数据'" [nzValue]=1></nz-option>
      </nz-select>
    </se>
    <se label="备注">
      <input nz-input [(ngModel)]="params.note" name="note" maxlength="100" placeholder="备注" />
    </se>
    <se required label="排序">
      <nz-input-number required [(ngModel)]="params.sortId" name="sortId" [nzPlaceHolder]="'Please'" nzMin="0" nzPrecision="0"></nz-input-number>
    </se>
    <se label="是否启用">
      <nz-switch [(ngModel)]="params.isEnabled" name="isEnabled">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
  </form>
</nz-spin>

<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid || servcie._http.loading" [nzType]="'primary'">保存</button>
</div>
