<div class="modal-header">
  <div class="modal-title">{{action == 1 ? '编辑' : '添加'}}-部门</div>
</div>
<nz-spin [nzSpinning]="servcie._http.loading">
  <form nz-form #f="ngForm" se-container=2 size="compact" labelWidth="100">
    <se required label="部门名称">
      <input nz-input required [(ngModel)]="params.name" name="name" maxlength="30" placeholder="请输入部门名称,30字符以内" />
    </se>
    <se required label="部门负责人">
      <nz-select required [(ngModel)]="params.orgChargeUid" name="orgChargeUid" [nzPlaceHolder]="'输入名字/手机号搜索'"
        [nzServerSearch]="true" nzShowSearch (nzOnSearch)="nzOnSearch($event,1)">
        <nz-option *ngFor="let option of UseroptionList" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
    </se>
    <se required label="部门类型">
      <nz-select required [(ngModel)]="params.type" name="type">
        <nz-option [nzLabel]="'公司'" [nzValue]=0></nz-option>
        <nz-option [nzLabel]="'分公司'" [nzValue]=1></nz-option>
        <nz-option [nzLabel]="'经销商'" [nzValue]=2></nz-option>
      </nz-select>
    </se>
    <se required label="排序">
      <nz-input-number required [(ngModel)]="params.sortId" name="sortId" nzMin="0" nzPrecision="0" [nzPlaceHolder]="'请输入排序'"></nz-input-number>
    </se>

    <se required label="所在区域" col="1">
      <nz-cascader required #AreaCascader [(ngModel)]="params.RegionStr" (ngModelChange)="AreaCascader.closeMenu();AreaChange($event);"
        name="RegionStr" nzExpandTrigger="hover" [nzOptions]="region" [nzPlaceHolder]="'请选择所在区域'" nzChangeOnSelect></nz-cascader>
    </se>

    <se label="详细地址" col="1">
      <input nz-input [(ngModel)]="params.addressDetail" name="addressDetail" maxlength="300" placeholder="请输入详细地址" />
    </se>

    <se label="状态" col="3">
      <nz-select [(ngModel)]="params.state" name="value">
        <nz-option nzLabel="在用" [nzValue]=1></nz-option>
        <nz-option nzLabel="失效" [nzValue]=0></nz-option>
      </nz-select>
    </se>

    <se label="是否启用" col="3">
      <nz-switch [(ngModel)]="params.Enabled" name="Enabled" nzCheckedChildren="是" nzUnCheckedChildren="否">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>

    <se label="是否隐藏" col="3">
      <nz-switch [(ngModel)]="params.isOpen" name="isOpen" nzCheckedChildren="是" nzUnCheckedChildren="否">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
  </form>
</nz-spin>
<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid || servcie._http.loading" [nzType]="'primary'">保存</button>
</div>
