<div class="modal-header">
  <div class="modal-title">{{action == 1 ? '编辑' : '添加'}}-菜单</div>
</div>
<nz-spin [nzSpinning]="service._http.loading">
  <form nz-form #f="ngForm" se-container size="compact" labelWidth="90">
    <se label="上级菜单" col="2">
      <input disabled [ngModel]="qModel?.parentName" name="parentName" nz-input />
    </se>
    <se required label="菜单名称" col="2">
      <input required [(ngModel)]="params.name" name="name" maxlength="200" placeholder="请输入菜单名称" nz-input />
    </se>
    <se required label="所属应用" col="2">
      <nz-select required [(ngModel)]="params.appId" name="appId" nzPlaceHolder="请选择所属应用">
        <nz-option *ngFor="let item of app_option" [nzLabel]="item?.label" [nzValue]="item?.value" [nzDisabled]="item?.disabled"></nz-option>
      </nz-select>
    </se>
    <se label="链接/路由" col="2">
      <input [(ngModel)]="params.link" name="link" nz-input placeholder="相对路径,没有则无需填写" />
    </se>
    <se label="图标" col="2">
      <input [(ngModel)]="params.icon" name="icon" placeholder="仅一级菜单生效" nz-input />
    </se>
    <se required label="排序" col="2">
      <nz-input-number required [(ngModel)]="params.sortId" name="sortId" [nzPlaceHolder]="'请输入排序'" nzMin="0"
        nzPrecision="0"></nz-input-number>
    </se>
    <se label="是否菜单组" col="2">
      <nz-switch [(ngModel)]="params.isGroup" name="isGroup">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
    <se label="是否启用" col="2">
      <nz-switch [(ngModel)]="params.enabled" name="enabled">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
    <se label="是否展开" col="2">
      <nz-switch [(ngModel)]="params.isOpen" name="isOpen">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
  </form>
</nz-spin>

<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid ||service._http.loading" [nzType]="'primary'">保存</button>
</div>
