<div class="modal-header">
  <div class="modal-title">{{ action == 1 ? '编辑' : '添加' }}-用户</div>
</div>
<nz-spin [nzSpinning]="servcie._http.loading">
  <form nz-form #f="ngForm" se-container=2 labelWidth="90">
    <se required label="用户名">
      <input required nz-input [(ngModel)]="params.userName" name="userName" maxlength="30" placeholder="请输入用户名" />
    </se>

    <se required label="状态">
      <nz-select required [(ngModel)]="params.state" name="state">
        <nz-option [nzLabel]="'在职'" [nzValue]="0"></nz-option>
        <nz-option [nzLabel]="'离职'" [nzValue]="1"></nz-option>
      </nz-select>
    </se>

    <se required label="所属部门">
      <nz-cascader required #DeptCascader [nzExpandTrigger]="'hover'" [(ngModel)]="params.organizationsIdS"
        (ngModelChange)="DeptCascader.closeMenu(); DeptChange($event)" name="organizationsIdS" [nzOptions]="cascader"
        [nzPlaceHolder]="'请选择所属部门'" [nzChangeOnSelect]="'true'">
      </nz-cascader>
    </se>

    <se required label="性别">
      <nz-select required [(ngModel)]="params.sex" name="sex">
        <nz-option [nzLabel]="'男'" [nzValue]="0"></nz-option>
        <nz-option [nzLabel]="'女'" [nzValue]="1"></nz-option>
      </nz-select>
    </se>

    <se required label="角色" col="1">
      <nz-select required [(ngModel)]="params.userRoleIds" name="userRoleIds" [nzPlaceHolder]="'请选择角色'" [nzMode]="'multiple'">
        <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </se>

    <se label="用户头像" extra="图片不能大于200kb">
      <st-upload-img-single [Module]="_userHead" [(ngModel)]="params.head" name="head"></st-upload-img-single>
    </se>
  </form>
</nz-spin>

<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid || servcie._http.loading" [nzType]="'primary'">保存</button>
</div>
