<div class="modal-header">
  <div class="modal-title">{{action == 1 ? '编辑' : '添加'}}-角色</div>
</div>
<nz-spin [nzSpinning]="servcie._http.loading">
  <form nz-form #f="ngForm" se-container labelWidth="90">
    <se required label="角色名称" col="2">
      <input required nz-input [(ngModel)]="params.name" name="name" maxlength="100" placeholder="请输入角色名称" />
    </se>
    <se required label="所属应用" col="2">
      <nz-select required [(ngModel)]="params.appId" name="appId" nzPlaceHolder="请选择所属应用">
        <nz-option *ngFor="let item of app_option" [nzLabel]="item?.label" [nzValue]="item?.value" [nzDisabled]="item?.disabled"></nz-option>
      </nz-select>
    </se>
    <se label="值" col="2">
      <input nz-input [(ngModel)]="params.values" name="values" maxlength="100" />
    </se>
    <se required label="排序" col="2">
      <nz-input-number required [(ngModel)]="params.sortId" name="sortId" nzMin="0" nzPrecision="0"></nz-input-number>
    </se>
    <se label="图标" col="2" extra="图片不能大于100kb">
      <st-upload-img-single [(ngModel)]="params.icon" name="icon" [Module]="_RoleModule" [MaxSize]="100"></st-upload-img-single>
    </se>
    <se label="是否启用" col="2">
      <nz-switch [(ngModel)]="params.isEnabled" name="isEnabled">
        <span checked>是</span>
        <span unchecked>否</span>
      </nz-switch>
    </se>
  </form>
</nz-spin>

<div class="modal-footer">
  <button nz-button type="button" (click)="close(false)">关闭</button>
  <button nz-button (click)="save()" [disabled]="f.invalid || servcie._http.loading" [nzType]="'primary'">保存</button>
</div>
